/* html,body{height: 100%;} */
.btn{*border: 1px solid #ccc;}

.Uc_w{height: 100%; color: #535353;background: #e7e7e7;font-size: 14px;line-height: 20px;}

.Uc_w .nwrap{background: #fff;width: 1200px;margin: 0 auto;}
.Uc_w .Uc{margin-top: 15px;padding-bottom: 50px;}
.uc_nav{width: 170px;margin-left: 30px;}
.uc_cont{width: 870px;margin-left: 30px;}

.uc_nav{border:1px solid #ccc;  margin-top: 15px;margin-bottom: 30px;border-radius: 6px;  overflow: hidden;}
.uc_nav li{line-height: 50px;font-size: 16px;}
.uc_nav .last a{border-bottom: 0;}
.uc_nav li a{display: block;height: 50px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;color: #535353; margin-top: -1px; padding-top: 0;padding-bottom: 0;}
.uc_nav li a:hover,.uc_nav .hover a{border-left: #ff7e00 2px solid;color:#ff7e00;background: #fff; }
.uc_nav .title{font-weight: bold;}
.uc_nav a i{font-size: 23px;display: inline-block;margin-right: 5px;}

.uc_cont{margin-top: 10px;}
.uc_cont h3{border-bottom: 1px solid #ccc;text-indent: 20px;margin-top: 15px;}
.uc_cont h3 .note{font-size: 12px;color: #f00;font-weight: normal;margin-left: 15px;  font-weight: bold;}

.uc_cont .anchor{display: block;margin-bottom: 15px;padding: 2px;border: 1px solid #ebebeb;width: 40px;height: 40px;}
.uc_cont form{margin-top: 20px;}

.ctr_text{height: 30px;line-height: 30px;}
.ctr_text .belong{margin-left: 20px;}
.ctr_text em{color: #ff7e00;}
.control-address select{width: 108px;}


.uc_cont table{margin-top: 20px;}
.uc_cont .down,.down{color: #ff0000;}
.uc_cont .up,.up{color: #87ca01;}
.table_handle {margin-top: 20px;}
.table_handle button{margin-right: 15px;}

.table_top {font-weight: bold;font-size: 16px; height: 45px;line-height: 45px;border-bottom: 1px solid #ccc;text-indent: 20px;margin-top: 5px;}
.table_top .leb{padding-left: 40px;}
.table_top .first{padding-left: 0px;}
.table_top .note{font-size: 12px;}
.table_top .type1{color: #87ca01;}
.table_top .type2{color: #ccc;}
.table_top .money{color: #ee3844;}
.table_top .num,.table_top a{color: #ff7e00;}
.table_top a{font-size: 16px;display: inline-block;padding: 0 5px;}
.table_top a:hover{color: #f86400;text-decoration: none;}

.table_tab{font-weight: normal;text-indent: 0;margin-top: 0;}
.table_tab a{margin-right: 15px;border: 1px solid #ccc;background: #f7f7f7;padding: 0 15px;height: 30px;line-height: 30px; color: #535353;}
.table_tab a.active,.table_tab a:hover{background: #ff7e00;color: #fff;}
.table_tab a:focus,.table_tab a:hover{text-decoration: none;}
#con_fund .table_fund{display: none;}
#con_fund .table_my{display: table;}
#con_fund .table_fund1{display: table;}
.title4{margin-top: 15px;}



.fundtop{background: #fff;border: 1px solid #e9e9e9;padding: 12px;position: relative; }
.fundtop .img{width: 125px;*position: absolute;left: 10px;top: 10px;float: left;text-align: center; }
.fundtop .img img{margin-top: 10px;}
.fundtop .mains{padding-left: 145px;width: 690px;}
.fundtop .rank{padding-left: 10px;}
.fundtop .otherinf{margin-top: 10px;}
.fundtop .otherinf p{margin: 0;height: 30px;line-height: 30px;}
.fundtop .otherinf p span{width: 185px;display: inline-block;text-indent:30px; }

.fundleft,.fundright{border: 1px solid #e9e9e9;margin-top: 20px;background: #fff;min-height: 325px;}
.fundleft>div,.fundright>div{padding: 10px;}
.fundleft{width: 748px;float: left;}
.fundright{width: 438px;float: right;}

.fundltab{height: 43px;border-bottom: 1px solid #e9e9e9;}
.fundltab a{height: 30px;line-height: 30px;width: 78px;text-align: center;border: 2px solid #fff;display: block;margin-right: 20px;float: left;}
.fundltab a.active,.fundltab a:hover{border: 2px solid #c7c5c5;border-radius: 4px;background: #f5f5f5;}
.fundlranktt{width: 385px;float: right;height: 43px;line-height: 36px;}
.fundleft .cont{width: 335px;float: left;height: 260px;margin-top: 40px;height: 200px;}
.fundlranklist{width: 380px;float: right;margin-top: 40px;}
.fundlranklist li{height: 38px;line-height: 38px;padding: 0 20px 0 40px;}
.fundlranklist .odd{background: #f5f5f5;}
.fundlranklist em{float: right;}

.fundright .fundrtab a{width: 98px;height: 36px;line-height: 36px; text-align: left;display:block;float: left;}
.fundright .fundrtab .active,.fundright .fundrtab a:hover{color: #ff722c;}
.fundright .cont,.fundleft .cont{display: none;}
.fundright .publicmsg,.fundleft .picprice{display: block;}

.uc_fundtop .rank{/* border-right: 1px solid #e9e9e9; */padding-top: 15px;*clear:both;}
.uc_fundtop .rank span{border-right: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9;width: 136px; display: block;float: left;text-align: center;}
.uc_fundtop .rank i,.uc_fundtop .rank em{display: block;margin-bottom: 15px;}
.ranks1{border-left: 1px solid #e9e9e9;}
.uc_fundtop .rank .up{color:#42c522;}
.uc_fundtop .rank .down{color:#f00;}
.uc_fundtop .rank .all{color:#ff722c;}
.rank em{font-size:25px;}
.ranks4 em{ color: #ff722c;}

.uc_fundtop{margin: 15px 0;padding: 0;border: 0;}
.uc_fundtop .info{background: #fff;border: 1px solid #e9e9e9;padding: 12px;}
.uc_fundtop .fundleft{width: 415px;}

.group_jlist th{text-align: center;}
.group_jlist td{line-height: 30px;}
.group_jlist .edt {text-align: center;}
.group_jlist .edt a{margin-right: 5px;}

.fund_lh{}
.fund_lh em{display: inline-block;padding: 0 5px;}
.fund_lh .time{float: right;}
.fund_lh .name{color: #ff7e00;}


















