html,body{margin: 0;padding: 0;}
ul,li{list-style: none;margin: 0;padding: 0;}
em{font-style: normal;}
p{margin: 0;}


.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }


.cont{background: #000;position: relative;}
.wrap{width: 1100px;margin: 0 auto;position: relative;z-index: 1;}
.bg_1,.bg_2{position: absolute;left: 0px;top: 0px;}
.bg_2{top: 530px;}
.bg_1{background: url(../img/b1.png) center top no-repeat;width: 100%;height:530px; }
.bg_2{background: url(../img/b2.png) center top no-repeat;width: 100%;height:460px; }

.top1{background: url(../img/bg_1.png) center;height: 427px}
.top2{background: url(../img/bg_2.png) center;height: 480px;position: relative;}
.top3{background: url(../img/bg_3.png);height: 251px}
.top4{background: url(../img/bg_4.png);height: 402px}

.top2 .a1{width: 260px;height: 85px;position: absolute;right: 82px;bottom: 135px;text-indent: -9999em; cursor: pointer;display:block;}

.mask{position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;  z-index: 10;display: none;}
.alpha{ width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 10;background: #000;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;display: none;}

.alts{width:780px;height: 620px;position: absolute;z-index: 11; left: 50%;top: 50%;margin: -310px 0 0 -390px;display: none; }
.alts .note{color: #fff266;}
.alts button{text-indent: -9999em;cursor: pointer;height: 60px;border:0;background: none;padding: 0;}
.alts input{border:0;background: none;height: 58px;line-height: 58px;text-indent: 5px; font-size: 18px;color: #aea86a;}
.alts .share{position: absolute;bottom:40px;left: 50%;margin-left: -190px;height: 25px;}
.share span{float: left;color: #fff;}
.share a{  height: 16px;line-height: 16px;padding-left: 20px;margin-left: 10px;display: block;float: left;background: url(../img/share.png) no-repeat;}
.share .share_0{background-position: 0px 0px;}  
.share .share_1{background-position: 0px -16px;}  
.share .share_2{background-position: 0px -32px;}  
.share .share_3{background-position: 0px -48px;} 
.alert2 .share {bottom: 20px;}
.alert1{background: url(../img/tan1.png) no-repeat;}
.alert2{background: url(../img/tan2.png) no-repeat;}

.alert2 .note{font-size: 38px;display: block;margin-top: 320px;text-align: center;text-indent: -20px;}
.alert2 div{width: 318px;height: 58px;  margin: 68px 0 0 198px;}
.alert2 input{width: 210px;float: left;}
.alert2 button{width: 105px;float: right; }

.alert1 .note{font-size: 24px;  margin: 165px 0 0 0;display: block;text-align: center;}
.alert1 .form{width: 440px;height: 270px;margin: 44px 0 0 145px;}
.alert1 .phoneN{  width: 284px;float: left;}
.alert1 .send{float: right;width: 153px;}
.alert1 .p2{  margin-top: 29px;}
.alert1 .p2 input{width: 440px;}
.alert1 .p2 button{  width: 190px;height: 65px;margin: 37px 0 0 117px;display: block;}


.mask1,.mask1 .alpha,.mask2,.mask2 .alpha{display: block;}
.mask1 .alert1{display: block;}
.mask2 .alert2{display: block;}














